.cards{
  border-radius: 10%;
  height: 250px;
  width: 150px;
}
.correct{
  position: absolute;
  left: 60%;
  top: 25%;
  color: green;
}
.wrong{
  position: absolute;
  left: 60%;
  top: 25%;
  color: red;
}
.gone{
  opacity: 0;
}